:root{
    --main-color:hsl(210, 10%, 33%);
    --secondary-color:hsl(201, 11%, 66%);
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
}
*{
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
body{
    text-align: center;
    background-color: #F7F8F9;
}


/*header section*/
header{
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    padding-bottom: 0px;
}

header img{
    margin-top: 200px;
    width: 100px;
}
header >.cont h3{
    margin-top: 100px;
}
.cont:nth-of-type(1){
    margin-top: 80px;
}
.cont{
    padding-right: 30px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}
.cont h3{
    font-size: 25px;
    color: var(--main-color);
    margin-bottom: 20px;
}
.cont .content{
    width: 80%;
    line-height: 1.8;
    color: var(--secondary-color);
    margin-bottom: 40px;
}
.button{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 35px 35px;
    -webkit-border-radius: 35px 35px;
    -moz-border-radius: 35px 35px;
    -ms-border-radius: 35px 35px;
    -o-border-radius: 35px 35px;
}
.one{
    background-color: var(--Strong-Cyan);
    box-shadow: 1px 1px 10px var(--main-color);
    border-bottom: 3px solid hsl(171, 82%, 26%);
}
.two{
    background-color: var(--Light-Blue);
    box-shadow: 1px 1px 10px var(--main-color);
    border-bottom: 3px solid hsl(233, 75%, 36%);
}
@media (min-width:775px) {
    header{
        height: 100vh;
    }
    header>.cont h3{
        font-size: 30px;
    }
    .cont .content{
        width: 700px;
        font-size: 20px !important;
    }
    .buttons{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
    }
    .buttons .button{
        margin-left: 10px;
        margin-right: 10px;
    }
}
.button:hover{
    opacity: 80%;
    cursor: pointer;
}


/*features section*/
.features img,
.clipboard-landing img{
    width: 300px;
}
.features .feat{
    text-align: start;
    width: 400px;
    margin-top: 30px;
}
.features .feat h4{
    color: var(--main-color);
    margin-bottom: 10px;
}
.features .feat .feat-content{
    color: var(--secondary-color);
    line-height: 1.6;
}
@media (min-width:775px) {
    .features{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .features-box{
        width: 45%;
        padding: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .features img,
    .clipboard-landing img{
        width: 50%;
    }
}
.clipboard-landing {
    margin-top: 200px;
}


/*services section*/
.serv {
    margin-top: 40px;
}
.serv h4{
    margin-top: 10px;
    color: var(--main-color);
}
.serv div {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 10px;
    color: var(--secondary-color);
}
.logos{
    width: 150px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.logos img{
    width: 100px;
    margin-bottom: 40px;
}
@media (min-width:775px) {
    .services .container{
        display: flex;
        flex-wrap: wrap;
    }
    .serv {
        width: 30%;
    }
    .logos{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
}



/*footer section*/
.footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e4e4e4;
    padding: 15px 15px 0 15px;
}
.footer img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer div{
    color: var(--main-color);
    margin-bottom: 10px;
}
.footer .contacts .contact:hover{
    cursor: pointer;
    color: var(--Strong-Cyan);
}
.footer .social{
    display: flex;
}
.footer .social img{
    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
}
footer{
    background-color: #e4e4e4; 
    padding: 0 10px 20px 10px;
}
.footer .social img:hover{
    opacity: 80%;
    cursor: pointer;
}
@media (min-width:775px) {
    .footer{
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row
    }
    .footer .contacts{
        width: 50%;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 15px;
    }
    .footer .social{
        display: flex;
        height: 80px;
    }
    .footer .social img{
        margin-left: 20px;
        margin-right: 20px;
        width: 20px;
        height: 20px;
    }
}
.attribution {
    font-size: 15px; 
    text-align: center;
    color: var(--main-color);
}
.attribution a {
    text-decoration: none; 
    color:var(--Strong-Cyan); 
    margin-bottom: 10px; 
}
